body{
    margin:0;
}

#main-heading{
    background-color: rgb(20, 95, 117);;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: "Franklin Gothic Medium";
}

.lorem-section{
    text-align: center;
    margin-top: 5%;
}

.lorem-title{
    font-size: 30px;
    font-family: 'Arial';
    color: rgb(70, 69, 69);
}

.paragraph-title{
    font-family: 'Arial';
    font-size: 25px;
    color: rgb(75, 74, 74);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input{
    padding: 10px;
    width: 40px;
    margin-left: 10px;
    outline: none;
}

.generate-btn{
    padding: 10px;
    margin-left: 40px;
    border: none;
    background-color: rgb(27, 110, 136);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Arial';
    letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.generate-btn:active{
    background-color: rgb(139, 134, 134);
    color: black;
}

/* -webkit-appearance: none; */

.result{
    font-family: Arial;
    line-height: 25px;
    color:rgb(87, 84, 84);
    text-align: justify;
    margin-right: 25%;
    margin-left: 25%;
    letter-spacing: 1px;
}